<div class="row">
  <div class="col-md-3">
    <img class="img-fluid infoType" src="{{product.img}}">
  </div>
  <div class="col-md-5">
    <h5>{{product.title}}</h5>
    <h6 style="font-weight: 300" class="text-uppercase">{{product.author}}</h6>
    <label *ngIf="product.instock===1" class="lbl success">Disponible</label>
    <label *ngIf="product.instock===0" class="lbl danger">No Disponible</label>
    <div class="description">
      <p>{{product.description}}</p>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="buyCard">
      <div class="priceCard">
        <h3 class="finalPrice">{{product.price}} €</h3>
        <span>IVA incluido</span>
      </div>
      <button *ngIf="product.instock===1"  (click)="addToCartBtn($event)" class="btn btn-basket w-100" type="button">Añadir a la cesta</button>
      <button *ngIf="product.instock===0" class="btn btn-basket w-100" type="button" disabled>Añadir a la cesta</button>
    </div>
  </div>
</div>
